<div class="container">

	<h1><%= "#{@workout.bodypart} - #{@workout.weekday}, #{@workout.date.mon}/#{@workout.date.day}/#{@workout.date.year}" %></h1>

	<br>

	<h3>Comments: <%= @workout.comments %></h3>

	<br>

	<h2>Exercises:</h2>
	
	<br>

	<% @workout.exercises.each.with_index(1) do |exercise, i| %>

		 <h5><strong> <%=  link_to "#{i}. #{exercise.name}", edit_exercise_path(exercise) %>	</strong> </h5>
	 			<p class="indent"> 	Sets: <%= exercise.sets unless exercise.nil?%> </p>
			 	<p class="indent">	  Reps: <%= exercise.reps unless exercise.nil?%> </p>
				 
	<% end %>



	<p>*** To edit or delete an exercise, click the exercise name. ***</p>



<br><br><br>

<%= form_tag(new_exercise_path, method: :get) do %>
	<%= hidden_field_tag :workout_id, @workout.id%>
	<%= submit_tag "Add an Exercise" %>
<% end %>		  

<br>

<%= form_tag(edit_user_workout_path(@workout.user, @workout), method: :get) do %>
	<%= submit_tag "Edit Workout" %>
<% end %>

<br>

<%= form_tag(user_workout_path(@workout.user, @workout),method: :delete) do %>
		<%= submit_tag "Delete This Workout" %>
<% end %>

</div>	