
 
Filter by Bodypart: 

		<%= form_tag(new_exercise_path, method: :get) do  %>
		 		<%= collection_select :exercise, :bodypart, Exercise.unique_bodyparts, :bodypart, :bodypart  %>	
		 		<%= hidden_field_tag :workout_id, workout.id %>
		 		<%= submit_tag "Filter Exercises" %>
		 <% end %>

<br>
<%= form_for(exercise) do |f| %>

		<div class="form-group <%= 'alert' if flash[:message] || exercise.errors[:name].any? %>">
			Exercise Name: <%= collection_select :exercise, :name, @exercises, :name, :name, class:'form-control' %>
		</div>

	 	<div class="form-group <%= 'alert' if flash[:message] || exercise.errors[:bodypart].any? %>">
			Bodypart worked: <%= collection_select :exercise, :bodypart, @exercises, :bodypart, :bodypart, class:'form-control' %>
		</div> 

		<div class="form-group <%= 'alert' if flash[:message] || exercise.errors[:sets].any? %>">
			Sets: <%= f.number_field :sets, class:'form-control' %>
		</div>

		<div class="form-group <%= 'alert' if flash[:message] || exercise.errors[:reps].any? %>">
			Reps: <%= f.number_field :reps, class:'form-control' %>
		</div>


		<%= f.hidden_field :workout_id, value: workout.id %>
		<%= f.submit  %>
		
<% end %>