<!DOCTYPE html>
<html>
  <head>
    <title>MyWorkoutTrackerRailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar.css" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="#">My Workout Tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
          <ul class="navbar-nav mr-auto">
            

            <% if logged_in? %>

              <li class="nav-item active">
                <%= link_to "Home", user_path(current_user), class:"nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "My Workouts", user_workouts_path(current_user), class:"nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "New Workout", new_user_workout_path(current_user),class:"nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "See All Exercises", exercises_path, class:"nav-link" %>
              </li>
              <li class="nav-item" id="logout">
                <%= link_to "Logout", logout_path, class:"nav-link" %>
              </li>

            <% else %>

              <li class="nav-item">
                <%= link_to "Sign Up", new_user_path, class:"nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Login", login_path, class:"nav-link" %>
              </li>

            <% end %>
            
            
          </ul>
          
        </div>
      </nav>

      <% if @user %>
        <% if @user.errors.any? %>
          <div class="alert">
            <% @user.errors.full_messages.each do |message| %>
              <%= message %><br>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <% if @workout %>
        <% if @workout.errors.any? %>
          <div class="alert">
            <% @workout.errors.full_messages.each do |message| %>
              <%= message %><br>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <% if @exercise %>
        <% if @exercise.errors.any? %>
          <div class="alert">
            <% @exercise.errors.full_messages.each do |message| %>
              <%= message %><br>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <% if flash[:message] %>
        <div class="alert">
          <%= flash[:message] %><br>
        </div>
      <% end %>

      <%= yield %>

    </div>
  </body>
</html>
